<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="CMesMesuresAndroid.CMesMesuresAndroid" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="CMesMesuresAndroid" android:icon="@drawable/Icon"></application>
	<!--PERMISSION-->
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<!--FEATURES-->
	<uses-feature android:name="android.hardware.camera" />
</manifest>